$blue: #17617A
$white: #E7E8EA

$text-md-big: 30px
$text-sm-big: 20px 

*
  font-family: 'El Messiri', sans-serif

a, a:hover
  text-decoration: none
/* General button styles */
a.ourbtn,button.ourbtn
  background-color: darken($blue, 5)
  transition: all 0.4s ease
  &:hover
    background-color: lighten($blue, 5)
  &:focus, &:active
    outline: none

/* Section header */
h2.header
  border-bottom: 2px solid #000
  display: inline-block

/* You can set card size from here */
.recommended-books ,.latest-releases
  .card
    min-height: 650px
    .card-img-top
      flex-grow: 2
    .card-body
      flex-grow: 0