@import ./components/_glopal
body
    padding-top: 70px
    footer
        position: absolute
        bottom: 0
        width: 100%
@import ./components/_loader
@import ./components/_navbar
@import ./components/_form
@import ./components/_footer