/* Start global styles*/
* {
  font-family: 'El Messiri', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

/* Start General button styles */
a.ourbtn, button.ourbtn {
  background-color: #135065;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: none;
}

a.ourbtn:hover, button.ourbtn:hover {
  background-color: #1b728f;
}

a.ourbtn:focus, a.ourbtn:active, button.ourbtn:focus, button.ourbtn:active {
  outline: none;
}

/* End General button styles */
/* Start Section header */
h2.header {
  border-bottom: 2px solid #000;
  display: inline-block;
}

/* End Section header */
/* Strat glopal card customization */
/* You can set card size from here Add parent class then .card */
.recommended-books .card, .latest-releases .card, .category .card {
  min-height: 650px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.recommended-books .card:hover, .latest-releases .card:hover, .category .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.recommended-books .card .card-img-top, .latest-releases .card .card-img-top, .category .card .card-img-top {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.recommended-books .card .card-body, .latest-releases .card .card-body, .category .card .card-body {
  padding: 20px 10px !important;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

/* End glopal card customization */
/* End global styles*/
/* Start loader style */
.preload {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #E7E8EA;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* .overlay
        background-color: $blue
        width: 100%
        height: 100%
        top: 0
        left: 0
        position: fixed
        transform: translateX(-100%) */
}

.preload .logo {
  z-index: 60;
}

/* End loader style */
/* Navbar style */
nav {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: transparent;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: start !important;
}

nav a.navbar-brand {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  max-width: 100%;
}

nav a.navbar-brand img {
  height: 4rem;
  max-width: 100%;
}

nav button {
  outline: none;
}

nav button i {
  color: white;
}

nav div.collapse {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #222222;
}

nav div.collapse ul.navbar-nav li.nav-item {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav div.collapse ul.navbar-nav li.nav-item.active a {
  color: #17617A !important;
}

nav div.collapse ul.navbar-nav li.nav-item a {
  color: white;
  font-weight: bold;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav div.collapse ul.navbar-nav li.nav-item a:hover {
  color: #17617A;
}

nav.scrolled {
  background-color: #E7E8EA;
}

nav.scrolled button i {
  color: black;
}

nav.scrolled div.collapse {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #E7E8EA;
}

nav.scrolled div.collapse ul.navbar-nav li.nav-item a {
  color: black;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav.scrolled div.collapse ul.navbar-nav li.nav-item a:hover {
  color: #17617A;
}

/* small devices (Phones, 426px and down) */
@media (max-width: 576px) {
  nav button i {
    color: white;
  }
  nav .navbar-collapse {
    margin-top: 10px;
  }
  nav .navbar-collapse ul {
    margin-left: auto !important;
  }
  nav .navbar-collapse ul li {
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-collapse {
    margin-top: 10px;
    background-color: transparent !important;
  }
}

/* End Navbar styles */
/* Start latest-releases Styles */
.card .card-body {
  background-color: #17617A;
  color: white;
}

/* End latest-releases Styles */
/* Start News */
.news-info .card p {
  color: black;
}

.news-info .card .news-date {
  font-size: 12px;
}

.news-info .card .news-writer {
  color: #17617A;
}

.news-info .card .news-writer span {
  color: black;
}

/* End News */
body {
  padding-top: 70px;
}

/* Start pagenation styles */
.pagination {
  padding: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.pagination .page-item .page-link {
  color: #17617A;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 0;
}

.pagination .page-item .page-link:hover {
  color: #E7E8EA;
  background-color: #17617A;
}

/* End pagenation styles */
/* Start footer styles */
footer {
  background-color: #17617A;
}

footer p {
  font-size: 13px;
  display: inline-block;
}

footer p.header {
  font-size: 16px;
  font-weight: bold;
}

footer .copy-rights hr {
  border: 0.5px solid white;
  background: #fff;
  margin-bottom: 5px;
}

footer .copy-rights p {
  display: block;
}

footer ul.social li i {
  font-size: 20px;
}

footer img {
  width: 20%;
}

/* small devices (Phones, 426px and down) */
@media (max-width: 576px) {
  footer img {
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 576px) and (max-width: 992px) {
  footer img {
    width: 40%;
  }
}

/* End footer styles */
/*# sourceMappingURL=news.css.map */