@import _glopal
@import _loader
@import _navbar        
@import _latest_releases

body
    padding-top: 70px

.category
    &-header
        a
            color: #a0aec0
            &:hover
                color: #5b6066
                text-decoration: underline

@media (max-width: 992px) 
    div.text-left
        text-align: center !important
        
@import _footer