/* Start footer styles */
footer
    p
        font-size: 13px
        display: inline-block
        &.header
            font-size: 16px
            font-weight: bold

    background-color: $blue
    .copy-rights
        hr
            border: 0.5px solid white 
            background: #fff 
            margin-bottom: 5px
        p
            display: block
    ul.social li i
        font-size: 20px
        
/* End footer styles */